aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
alembic==1.6.5
APScheduler==3.6.3
async-timeout==3.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
greenlet==1.1.1
idna==3.2
jsonpickle==2.0.0
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.1
mergedeep==1.3.4
multidict==5.1.0
psutil==5.8.0
python-dateutil==2.8.2
python-editor==1.0.4
python-socks==1.2.4
python-telegram-bot==13.7
pytz==2021.1
requests==2.26.0
selenium==3.141.0
selenium-wire==2.1.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.20
tornado==6.1
tqdm==4.62.1
typing-extensions==3.10.0.0
tzlocal==3.0
ujson==4.1.0
urllib3==1.26.6
user-agent==0.1.9
win32-setctime==1.0.3
yarl==1.6.3
